[Desktop Entry]
Encoding=UTF-8
Name=Link to Draggable Resizable without jquery ui
Type=Link
URL=https://codepen.io/adammertel/pen/yyzPrj
Icon=text-html
