[Desktop Entry]
Encoding=UTF-8
Name=Link to Draggable, Movable and Resizable HTML DOM elements using jQuery
Type=Link
URL=http://www.encodedna.com/2013/08/draggable-resizeable-html-dom-elements-using-jquery.htm
Icon=text-html
