[Desktop Entry]
Encoding=UTF-8
Name=Link to Make Your Divs Draggable and Resizable using JQuery UI - YouTube
Type=Link
URL=https://www.youtube.com/watch?v=6DT72ljSzGc
Icon=text-html
